[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
pillow = "*"
django-crispy-forms = "*"
pipfile = "*"

[requires]
python_version = "3.7"
