{% extends 'web_app/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Fashion | Home {% endblock %}

{% block content %}

 <!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            {% for offer_product in offer_products %}
            <div class="single-slider-item set-bg" data-setbg="{{offer_product.image.url}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>{{offer_product.title}}</h1>
                            {% if offer_product.discount_price %}
								<h2 class="mr-1">
									<del>Kshs {{ offer_product.price|intcomma }}</del>
								</h2>
								    <h2>Kshs {{ offer_product.discount_price|intcomma }}</h2>
							{% else %}
								<h2>Kshs {{ offer_product.price|intcomma }}</h2>
							{% endif %}
                            <a href="{% url 'product-detail' slug=offer_product.slug %}" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="{% static 'web_app/img/icons/f-delivery.png' %}" alt="">
                            <h4>Free shipping</h4>
                            <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                                esuada aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="{% static 'web_app/img/icons/coin.png' %}" alt="">
                            <h4>100% Money back </h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="{% static 'web_app/img/icons/chat.png' %}" alt="">
                            <h4>Online support 24/7</h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Box -->
        <div class="features-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-box-item first-box">
                                    <img src="{% static 'web_app/img/f-box-1.jpg' %}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2020 Party</span>
                                        <h2>{{ladies_cat}}</h2>
                                        <span class="trend-alert">Trend Alert</span>
                                        <a href="{% url 'category-detail' pk=ladies_cat.pk %}" class="primary-btn">See More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-box-item second-box">
                                    <img src="{% static 'web_app/img/f-box-2.jpg' %}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2020 Trend</span>
                                        <h2>{{footwear}}</h2>
                                        <div class="mt-3">
                                            <a href="{% url 'category-detail' pk=footwear.pk %}" class="primary-btn">See More</a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box-item large-box">
                            <img src="{% static 'web_app/img/f-box-3.jpg' %}" alt="">
                            <div class="box-text">
                                <span class="trend-year">2020 Party</span>
                                <h2>{{suits}}</h2>
                                <div class="trend-alert">Trend Alert</div>
                                <div class="mt-5">
                                    <a href="{% url 'category-detail' pk=suits.pk %}" class="primary-btn">See More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="*">All</li>
                            {% for category in categories %}
                                <li data-filter=".{{category.name}}">{{category.name}}</li>
                            {% endfor %}
                        </ul>       
                    </div>
                </div>
            </div>
            <div class="row" id="product-list">
                {% for product in products %}
                    <div class="col-lg-3 col-sm-6 mix all {{product.category}}">
                        <div class="single-product-item">
                            <figure>
                                <a href="{% url 'product-detail' slug=product.slug %}"><img src="{{product.image.url}}" alt=""></a>
                                <div class="p-status">{{product.category}}</div>
                            </figure>
                            <div class="product-text">
                                <a href="{% url 'product-detail' slug=product.slug %}"></a>
                                    <h6>{{product.title}}</h6>
                                </a>    
                                {% if product.discount_price %}
								    <span class="mr-1">
									    <del>Kshs {{ product.price|intcomma }}</del>
								    </span>
								        <span>Kshs {{ product.discount_price|intcomma }}</span>
							    {% else %}
								    <span>Kshs {{ product.price|intcomma }}</span>
							    {% endif %}
                            </div>
                        </div>
                    </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Product End -->

    <!-- Lookbok Section Begin -->
    <section class="lookbok-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>2020 <br />Fashion House</h2>
                        </div>
                        <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada
                            aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo
                            lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo
                            viverra scelerisque. Phasellus facilisis lobortis metus, sit amet viverra lectus finibus ac.
                            Aenean non felis dapibus, placerat libero auctor, ornare ante. Morbi quis ex eleifend,
                            sodales nulla vitae, scelerisque ante. Nunc id vulputate dui. Suspendisse consectetur rutrum
                            metus nec scelerisque. s</p>
                        <a href="#" class="primary-btn look-btn">See More</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 mb-3">
                    <div class="lookbok-pic">
                        <img src="{% static 'web_app/img/lookbok.jpg' %}" alt="">
                        <div class="pic-text">fashion</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Lookbok Section End -->

    {% endblock content %}