{% extends "web_app/base.html" %}

{% load humanize %}

{% block title %} Fashion | Payment  {% endblock %}


{% block content %}

<div class="container-fluid">
    <!-- Begin Page Content -->
    <div style="background-color: green;">
      <div class="container-fluid" style="max-width: 600px; margin-top: 150px; margin-bottom: 150px;">
          <div class="card o-hidden border-0 shadow-lg my-4">
          <div class="card-body p-0" >
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Payment Details</h1>
                  </div>
                  
                  <form class="user" action="{% url 'mpesa-code' %}" method="POST">
                    {% csrf_token %}
                    <p class="p-tag">Select "Pay bill" from your Safaricom MPesa Menu</p>
                    <p class="p-tag">Select "Enter Business Number".</p>
                    <p class="p-tag">Enter Fashion House Business Number "8188322".</p>
                    <p class="p-tag">Select "Enter Account Number".</p>
                    <p class="p-tag">Enter Your Mobile Number  (SPACE) Name".</p>
                    <p class="p-tag">Enter Amount KSH {{ order.get_total |intcomma }}</p>
                    <p class="p-tag">Press "OK" Only when you are sure of all the details You entered.</p>
                  <div class="form-group">
                    <button class="btn btn-primary">CONTINUE</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>  
</div>


{% endblock content %}